#message-list {
  padding: 2%;
  max-height: 80%;
  overflow: auto;
  position: relative;
  bottom: 0;
}

.message-input {
  width: 100%;
}

.send-message-form {
  width: 50%;
}

.message {
  padding: 1%;
}
